<div id="players-title">
    <div id="players-new">Players registered:
        <form action="/players/new" method="get">
            <input type="submit" value="Sign Up" class="sign-up">
        </form>
    </div>
    <hr>

    <% for player in @players %>
        <h3>Name: <%=player.first_name%> <%=player.second_name%></h3>
        <h3>Age: <%=player.age%></h3>
        <h3>Position: <%=player.position%></h3>
        <h3>Team:
            <% if player.team == nil %>
            None
            <% else %>
                <%# Team method not working so using this for now %>
                <% players_team = Team.find(player.team_id) %>
                <%= players_team.name%>
            <% end %>
        </h3>
        <div id="buttons">
            <form action="/players/<%=player.id%>/delete" method="get" class="space">
                <input type="submit" value="Remove" id="sign-up-player" class="space">
            </form>
            <!-- <form action="/players/<%=player.id%>/edit" method="get" class="space">
                <input type="submit" value="Edit" id="sign-up-player" class="space">
            </form> -->
        </div>
        <hr>
    <%end%>
</div>
