<div id="teams-title">
    <div id="teams-new">Teams registered:
        <form action="/teams/new" method="get">
            <input type="submit" value="Register New Team" class="sign-up">
        </form>
    </div>
    <hr>

    <% for team in @teams %>
        <div>
        <h3>Team Name: <%=team.name%></h3>
        <h3>Players: <br><br><br>
            <% for player in team.players%>
                <%=player.first_name%> <%=player.second_name%> - <%=player.position%>
                <br><br><br>
            <% end %>
        </div></h3>
        <div id="buttons">
            <form action="/teams/<%=team.id%>/delete" method="get" class="space">
                <input type="submit" value="Remove Team" id="sign-up-team" class="space">
            </form>
            <form action="/teams/<%=team.id%>/add-player" method="get" class="space">
                <input type="submit" value="Add Player" id="sign-up-team" class="space">
            </form>
            <form action="/teams/<%=team.id%>/remove-player" method="get" class="space">
                <input type="submit" value="Remove Player" id="sign-up-team" class="space">
            </form>
        </div>
        <hr>
    <% end %>
</div>
